[Desktop Entry]
Name=pb-mapper
Comment=Network port mapping and tunneling tool
Exec=pb-mapper
Icon=app_icon.png
Terminal=false
Type=Application
Categories=Network;Internet;
